body {
    background-image: url('Office-Chair.png');

    background-size: cover;
    background-repeat: no-repeat;
    
}
a, h1, h2, h3, h4, h5, h6 {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
}
#logir{
    color:#fff;
    background-position: center;
    text-decoration:none;
    padding:calc(.667em + 2px) calc(1.333em + 2px);
    font-size:1.125em;
    color: black;
    pointer-events: auto;
}
#registerModal{
    background-position: center;
    text-decoration:none;
    padding:calc(.667em + 2px) calc(1.333em + 2px);
    font-size:1.125em;
    color: black;
    pointer-events: auto;
}
#Register
select{
    background-color: red;
    text-decoration: none;
    color: black;
}
input{
    text-decoration: none;
    color: black;
}
#srss{
    background-color: white;
    position: absolute;
    left: 20%;
    border: 3px;
    border: #97ac9f;
    text-decoration: none;
    color: #97ac9f;

}

a:hover {
    border-color: rgba(0, 0, 0, 0.8);
}
h1{
    background-color: grey;

    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    margin-bottom: 20px;
}
a{
transition: border-color 0.3s ease;
background-color: #97ac9f;
    text-decoration:none;
    color: black;
    text-align: center;

}

::selection{
    color:white;
    background: red;
}
th, td{
    pading: 15px;
    border-left: 1px solid #97ac9f;
    border-bottom: 1px solid #97ac9f;
}


table{
    color: whitesmoke;
    background-color:black;
    background-position: center;
    text-decoration:none;
    padding:calc(.667em + 2px) calc(1.333em + 2px);
    font-size:1.125em;
    color: whitesmoke;
    pointer-events: auto;
}
